<div>
    <app-search></app-search>
    <app-filter [all]="getTotalCourses()" [free]="getTotalFreeCourses()" [premium]="getTotalPremiumCourses()"></app-filter>
</div>
<div class="course-container" *ngFor="let course of courses">
    <div class="course-card">
        <div>
            <img [src]="course.image" style="width: 220px; height: 140px;">
        </div>
        <div class="course-name"><h4>{{ course.name }}</h4></div>
        <div class="couse-description"><p>{{ course.description }}</p></div>
        <div class="details">
            <div class="course-type" [ngStyle]="{color: course.type === 'Free'? 'Green' : 'Red'}">{{course.type}}</div>
            <div class="course-price"><b>Price:</b> ${{course.price}}</div>
        </div>
        <div class="course-buttons">
            <button class="btn btn-success">Buy Now</button>
            <button class="btn btn-warning">Show Details</button>
        </div>
    </div>    
</div>